@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#root {
  min-height: 100vh;
  margin: 0 auto;
}

.header {
  width: 60vw;
}

.form-label {
  @apply text-base font-semibold leading-7 text-gray-900
}

.form-control {
  @apply block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6
}

.form-select {
  @apply block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6
}

.btn {
  @apply rounded-md bg-blue-600 px-3 py-2 font-semibold text-white hover:bg-blue-500
}


